</main>
<footer>
  <a href="/swipper" class="footer-item">
    <i class="fa-regular fa-heart"></i>
    <span>Encontros</span>
  </a>

  <a href="/chat" class="footer-item">
    <i class="fa-regular fa-comment"></i>
    <span>Conversas</span>
  </a>

  <a href="/profile" class="footer-item">
    <i class="fa-regular fa-user"></i>
    <span>Perfil</span>
  </a>

  <a href="/login" class="footer-item">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Sair</span>
  </a>
</footer>

<script src="/js/script.js"></script>
</body>
</html>
