<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/login_page.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
  
</head>

    <section class="profile-page">
      <nav class="profile-nav">
        <div class="nav-links">
          <a href="/profile" class="nav-link active">Meu Perfil</a>
          <a href="/home" class="nav-link">Home</a>
          <a href="/about" class="nav-link">Sobre</a>
        </div>
      </nav>