<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <!-- Core CSS -->
<link rel="stylesheet" href="/css/core/base.css" type="text/css">
<link rel="stylesheet" href="/css/core/utilities.css" type="text/css">
<link rel="stylesheet" href="/css/core/variables.css" type="text/css">

<!-- Component CSS -->
<link rel="stylesheet" href="/css/components/buttons.css" type="text/css">
<link rel="stylesheet" href="/css/components/footer.css" type="text/css">
<link rel="stylesheet" href="/css/components/header.css" type="text/css">

<!-- Pages CSS -->
<link rel="stylesheet" href="/css/pages/profile.css" type="text/css">

<link rel="stylesheet" href="/css/login_page.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">

<!-- Outros -->
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/swipper.css" type="text/css">
<link rel="stylesheet" href="/css/chat.css" type="text/css">

  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
  
</head>