<%- include('partials/header') %>
<body>
    <main>
    <header><h2>Seus chats</h2></header>
    <div class="chat-list" id="chatList">
        <!-- Lista de chats será carregada aqui -->
    </div>

    <div class="chat-window hidden" id="chatWindow">
        <div class="chat-header">
            <button id="backButton">←</button>
            <img id="chatAvatar" src="#" alt="Avatar" class="avatar">
            <h1 id="chatTitle">Nome</h1>
        </div>
        <main class="chat-messages" id="chatMessages">
            <!-- Mensagens serão carregadas aqui -->
        </main>
    </div>

    <script src="/js/chatScript.js"></script>
<%- include('partials/footer') %>

