<%- include('partials/header') %>

<section class="login-page">
  <h2>Bem-vindo à página de login</h2>
  <p>Este é um site simples usando Express e EJS.</p>

  <a href="/profile" class="btn-go-profile">Ir para o Perfil</a>
</section>

<%- include('partials/footer') %>
