<%- include('partials/header') %>
<body>
  <main class="swipper-container">
      <div id="card-container"></div>
      <div class="buttons">
        <button id="dislike"><i class="fa-regular fa-x"></i></button>
        <button id="like"><i class="fa-regular fa-heart"></i></button>
      </div>
  </main>

  <script src="/js/swipper.js"></script>
  <%- include('partials/footer') %>
