/* Foto de perfil */
.profile-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 20px auto;
}

/* Galeria de Fotos */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.gallery-photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-photo:hover {
  transform: scale(1.05);
}

.profile-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Estilos para os títulos com tag */
h3 .tag {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #be0d0d, #ff0844);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 5px 0;
  display: inline-block;
  transition: all 0.3s ease;
}

h3 .tag:hover {
  transform: skewX(-5deg);
  text-shadow: 0 2px 4px rgba(190, 13, 13, 0.2);
}
