body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer {
    width: 100%;
    background-color: #111;
    border-top: 1px solid var(--primary-color-darker);
    display: flex;
    flex: 5%;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
  }
  
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s;
  }
  
  .footer-item i {
    font-size: 22px;
    margin-bottom: 4px;
  }
  
  .footer-item .active {
    color: var(--primary-color);
  }
  
  .footer-item .active i {
    color: var(--primary-color);
  }
  
  .footer-item:hover {
    color: #fff;
  }
  
  .footer-item:hover i {
    color: #fff;
  }
  