@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    /* Cores */
    --primary-color: #fe0000;
    --primary-color-darker:#600000;
    --secondary-color: #6c757d;
    --online-color: #27ae60;
    --offline-color: #95a5a6;
    
    /* Tipografia */
    --font-body: 'Alata', Arial, sans-serif;
    --font-heading: 'Montserrat', sans-serif;
    
    /* Breakpoints */
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    
    /* Espaçamentos */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
  }